* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  min-height: 100vh;
}

header {
  font-size:1.5em;
}

header, form {
  min-height:20vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

form label {
  display:none;
}

form input, 
form button {
  padding:0.5rem;
  font-size:1.5rem;
}

#container {
  display:flex;
  justify-content: center;
  align-items: center;
}
#todo-list {
  min-width: 30%;
  list-style: none;
}

 /* todo 항목 */