*{
  margin:0;
  padding:0;
}
body {	
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dark {
	background-color:#222;
	color:#eee;
}
#toggle-box {
	position:fixed;
	top:5%;	
	right:5%;
}
#toggle-box button {
	padding:5px 10px;
	border:1px solid #222;
	border-radius:5px;
}
#contents{
	width:300px;
	height:180px;	
	padding:20px;
	border:1px dotted #ccc;
	border-radius:4%;	
}
p {
	font-size:1rem;
	line-height:2;
}