h1 {
  font-size:2rem;  
  margin-bottom:20px ;
}
.clicked {
  background-color:yellow;
}
#profile {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border:1px solid #ccc;
  border-radius:5%;
  padding:10px;
}
#desc {
  margin:10px 20px;
}
p {
  font-size:0.8rem;
  line-height:1.8;
}
.user {
  color:blueviolet;
}
.blue-italic {
  background-color:#8ddfff;
  font-style: italic;
}
