* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#container{
  margin:50px auto;
  width:600px;
  padding:10px 20px;  
}
ul {
  list-style: none;
}
#bookInfo {
  margin-top:40px;
}

#bookInfo li {
  font-size:1em;
  line-height: 3;
}
#bookInfo label {
  display:inline-block;
  width:50px;
}
#bookInfo input {
  width:450px;
  padding:5px;
}

button {
  width:150px;
  margin:20px 55px;
  font-size:1em;
  padding:5px 10px;
}

#bookList {
  width:500px;
  margin-top:80px;
  position:relative;
}

#bookList li {
  font-size:1em;
  padding:10px;
  border-bottom:1px solid #ccc;
  position: relative;
}
.delButton:hover {
  cursor:pointer;
}
.delButton {  
  padding:5px 10px;
  font-size:0.8em;
  position:absolute;  
  right:10px;
}