* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  min-height:100vh;
}

button {
  background-color:#ddd;
  padding:1rem 3rem;
  border:1px solid #222;
  border-radius:5px;
  box-shadow:1px 1px 2px #222;
}

/* noti-box로 우측 하단에 고정해 놓고, .noti를 그 안에 넣을 것! */
#noti-box {
  position:fixed;
  top:20px;
  right:20px;  
}
.noti {
  margin:1rem;
  padding:1rem;
  background-color:#eee;
  border-left:3px solid #222;
}