* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#container{
  margin:50px auto;
  width:600px;
  padding:10px 20px;  
}
ul {
  list-style: none;
}
li {
  font-size:1em;
  line-height: 3;
}
li > label {
  display:inline-block;
  width:50px;
}
li > input {
  width:300px;
  padding:5px;
}
form button {
  margin-top:20px;
  font-size:1em;
  padding:5px 10px;
}

#booklist {
  margin-top:50px;
}

#booklist > table {
  width:700px;
  border-collapse: collapse;
}
table th, table td {
  padding:10px;
  border-bottom:1px solid #ccc;
}
table th {
  background-color:#222;
  color:#eee;
}

table th:first-child, table td:first-child {
  width:300px;
}
#booklist th:not(:first-child), #booklist td:not(:first-child) {
  width:120px;
}

td span {  
  padding:5px 10px;
  margin:10px 5px;
  font-size:0.8em;
}
td span:hover {
  cursor:pointer;
}

.done {
  text-decoration: line-through;
  color:#ccc;
}
