#container {
  width:600px;
  margin:10px auto;
}

#bookList {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: left;
  gap:15px;
}
#bookList img {
  width:100px;
  border:1px solid #ccc;
}

#bookInfo {
  width:100%;
  margin-top:50px;
  padding:10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border:1px solid #ccc;
}

#bookImage {
  width:200px;
  border:1px solid #ccc;
}

#bookDesc {
  width:350px;
  border:1px solid blue;
}