#container {
  width:500px;
  margin:10px auto;
}
ul {
  list-style: none;
}
#bookList {
  background:#ccc;
}
#bookList li {
  display:inline-block;
  margin:10px 20px;
}

#bookList img {
  width:100px;
}

#bookInfo {
  width:100%;
  margin-top:50px;
  padding:10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border:1px solid #ccc;
}

#bookImage {
  width:200px;

}
#bookImage > img {
  width:150px;
}

#bookDesc {
  width:350px;
}

#bookDesc li {
  line-height:3;
}