* {
  padding:20px;
  box-sizing: border-box;  
}

body {
  border: 2px solid #333;  
  width:80%;
  height:250px;
  font-size:20px;
  font-weight: bold;
}

div {
  border: 2px dashed #333;
  width:100%;
  height:200px;  
}

section {
  border : 2px solid #333;
  width:100%;
  height:150px;
}
p {
  border : 2px dashed #333;
  width:100%;
  height:50px;
}

