* {
  margin:0;
  padding:0;
}
body {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding : 10px 20px;
  border-style: 1px solid #ccc;  
}

p {
  margin:20px;
  font-size:2em;  
}